.overlay {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: var(--clr-white-100);
  padding: 2rem;
  border-radius: 8px;
}
