.repliesList {
  display: flex;
  position: relative;
}

.repliesListDecorator {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--clr-white-400);
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
