.post {
  background-color: var(--clr-white-100);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.postHeader,
.postDetails {
  display: flex;
  align-items: center;
}

.postHeader {
  justify-content: space-between;
}

.postDetails {
  gap: 1rem;
}

.postDetails > img {
  width: 2rem;
  aspect-ratio: 1;
}

.createdAt,
.content {
  color: var(--clr-black-100);
}
