:root {
  /* colors */
  --clr-blue-300: hsl(238, 40%, 52%);
  --clr-red-300: hsl(358, 79%, 66%);

  --clr-black-300: hsl(212, 24%, 26%);
  --clr-black-100: hsl(211, 10%, 45%);
  --clr-white-400: hsl(223, 19%, 93%);
  --clr-white-300: hsl(228, 33%, 97%);
  --clr-white-100: hsl(0, 0%, 100%);

  /* typography */
  --fnt-primary: Rubik, "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
textarea,
input {
  font-family: var(--fnt-primary);
}

body {
  background-color: var(--clr-white-300);
  padding: 2rem 0rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
